## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns= ['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
for col in application_df:
  print(col, len(application_df[col].unique()))

APPLICATION_TYPE 17
AFFILIATION 6
CLASSIFICATION 71
USE_CASE 5
ORGANIZATION 4
STATUS 2
INCOME_AMT 9
SPECIAL_CONSIDERATIONS 2
ASK_AMT 8747
IS_SUCCESSFUL 2

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
val_counts = application_df['CLASSIFICATION'].value_counts()
GT1 = val_counts.where((val_counts > 100) == True)
GT1.dropna(inplace=True)
GT1

C1000    17326.0
C2000     6074.0
C1200     4837.0
C3000     1918.0
C2100     1883.0
C7000      777.0
C1700      287.0
C4000      194.0
C5000      116.0
C1270      114.0
C2700      104.0
Name: CLASSIFICATION, dtype: float64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_replace = val_counts.where((val_counts > 100) == False)
classifications_replace.dropna(inplace=True)
classifications_to_replace = classifications_replace.index
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
encoded = pd.get_dummies(application_df[['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION', 'USE_CASE','ORGANIZATION', 'INCOME_AMT','SPECIAL_CONSIDERATIONS']])
encoded

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,1,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
4,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
34296,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
34297,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [10]:
app_df = pd.concat([application_df, encoded], axis = 1)
app_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1,...,0,0,0,0,0,0,0,0,1,0
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1,...,1,0,0,0,0,0,0,0,1,0
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0,...,0,0,0,0,0,0,0,0,1,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1,...,0,1,0,0,0,0,0,0,1,0
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0,...,0,0,0,0,0,0,0,0,1,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0,...,0,0,0,0,0,0,0,0,1,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0,...,0,0,0,0,0,0,0,0,1,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1,...,0,0,0,0,0,0,0,0,1,0
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0,...,0,0,0,0,1,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
y = app_df['IS_SUCCESSFUL']
X = app_df.drop(columns=['APPLICATION_TYPE','AFFILIATION','CLASSIFICATION', 'USE_CASE','ORGANIZATION','INCOME_AMT', 'SPECIAL_CONSIDERATIONS', "IS_SUCCESSFUL"])
# Split the preprocessed data into a training and testing dataset

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
X_train_scaled.shape

(25724, 49)

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=49))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                4000

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 6,461
Trainable params: 6,461
Non-trainable params: 0
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 1ms/step - loss: 0.5681 - accuracy: 0.7214
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5506 - accuracy: 0.7324
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5469 - accuracy: 0.7336
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7339
Epoch 5/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7346
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7349
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7353
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7349
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7366
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7371
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7369
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7381
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7367
Epoch 14/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7380
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7386
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7372
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7386
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7390
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7385
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7385
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5370 - accuracy: 0.7389
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7386
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7400
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7398
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7397
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7407
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7399
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7404
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7407
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7399
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7402
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7394
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7409
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5336 - accuracy: 0.7412
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7411
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7413
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7412
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7409
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7408
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7411
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7423
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5330 - accuracy: 0.7416
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5329 - accuracy: 0.7411
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7416
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7425
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7416
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5317 - accuracy: 0.7424
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5323 - accuracy: 0.7413
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7418
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5319 - accuracy: 0.7411
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5319 - accuracy: 0.7426
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5320 - accuracy: 0.7420
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5318 - accuracy: 0.7428
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5312 - accuracy: 0.7430
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5314 - accuracy: 0.7421
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5318 - accuracy: 0.7418
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5312 - accuracy: 0.7426
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5312 - accuracy: 0.7430
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5312 - accuracy: 0.7412
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5313 - accuracy: 0.7414
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5307 - accuracy: 0.7424
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5312 - accuracy: 0.7425
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5306 - accuracy: 0.7430
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5304 - accuracy: 0.7428
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5310 - accuracy: 0.7422
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5309 - accuracy: 0.7420
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5304 - accuracy: 0.7426
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5298 - accuracy: 0.7432
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5306 - accuracy: 0.7429
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5301 - accuracy: 0.7426
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5301 - accuracy: 0.7424
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5303 - accuracy: 0.7434
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5301 - accuracy: 0.7426
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5296 - accuracy: 0.7429
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5298 - accuracy: 0.7425
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5299 - accuracy: 0.7427
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5298 - accuracy: 0.7422
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5294 - accuracy: 0.7424
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5293 - accuracy: 0.7423
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5294 - accuracy: 0.7432
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5293 - accuracy: 0.7435
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5295 - accuracy: 0.7429
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5294 - accuracy: 0.7425
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5291 - accuracy: 0.7430
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5289 - accuracy: 0.7418
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5289 - accuracy: 0.7427
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5293 - accuracy: 0.7426
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5292 - accuracy: 0.7427
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5288 - accuracy: 0.7425
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5290 - accuracy: 0.7423
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5286 - accuracy: 0.7440
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5283 - accuracy: 0.7433
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5288 - accuracy: 0.7434
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5287 - accuracy: 0.7428
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5284 - accuracy: 0.7435
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5286 - accuracy: 0.7429
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5284 - accuracy: 0.7438
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5280 - accuracy: 0.7432
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5285 - accuracy: 0.7428
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5288 - accuracy: 0.7430

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5578 - acc: 0.7263
Loss: 0.557812534073699, Accuracy: 0.7262973785400391

In [17]:
# Export our model to HDF5 file
nn.save('model.h5')